body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div {
  background-color: #F2F2F2;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}


/* multiple selector : select input and select */
input , select {
   width: 100%;
   padding: 10px;
   margin: 10px 0;
   /* border and padding are included in height\width */
   box-sizing: border-box;
   border: 1px solid #cbd4db;
   border-radius: 5px;
}

input[type="submit"]:hover {
   background-color: lightblue;
   cursor: pointer;
}

input[type="submit"] {
   background-color: #286090;
   color: white;
}